<h3>Modifica Studente</h3>
<form ng-if="$ctrl.student" ng-submit="$ctrl.update()">
  <div class="form-group">
    <label for="name">Nome:</label>
    <input type="text" required ng-model="$ctrl.student.name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="surname">Cognome:</label>
    <input type="text" required ng-model="$ctrl.student.surname" class="form-control" id="surname">
  </div>
  <div class="form-group">
    <label for="studentID">Matricola:</label>
    <input type="text" required ng-model="$ctrl.student.studentID" class="form-control" id="studentID">
  </div>
  <div class="form-group">
    <label for="media">Media:</label>
    <input type="text" required ng-model="$ctrl.student.media" class="form-control" id="media">
  </div>
  <div class="form-group">
    <label for="cfu">CFU:</label>
    <input type="text" required ng-model="$ctrl.student.CFU" class="form-control" id="cfu">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" required ng-model="$ctrl.student.email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="phone">Telefono:</label>
    <input type="text" required ng-model="$ctrl.student.phone" class="form-control" id="phone">
  </div>
  <input type="button" class="btn btn-default" ng-click="$ctrl.reset()" value="Annulla">
  <input type="submit" class="btn btn-default" value="Aggiorna">
</form>
<h3 ng-if="!$ctrl.student">Studente non trovato</h3>
<hr>
<a href="#!/students">Torna alla lista studenti</a>
