<h3>Studenti</h3>
<div>
  <p>
    Ricerca:
    <input ng-model="$ctrl.query" />
  </p>
  <p>
    Ordina per:
    <select ng-model="$ctrl.orderProp">
      <option value="name">Nome</option>
      <option value="surname">Cognome</option>
      <option value="CFU">CFU</option>
    </select>
  </p>
</div>
<div>
  <ul class="students">
    <li ng-repeat="student in $ctrl.students | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
      <a href="#!/students/{{student._id}}" class="thumb">
        <img ng-src="{{student.imgUrl}}" alt="{{student.name}}" />
      </a>
      <p>{{ student.name }} {{ student.surname }}</p>
      <p>CFU: {{student.CFU}} </p>
      <a href="#!/students/{{student._id}}">Visualizza</a>
    </li>
  </ul>
</div>
<a href="#!/add/students">Aggiungi un nuovo studente</a>
